<!DOCTYPE html>
<html>
  <head>
    <title>form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign Up Form</h1>
    <form action="/add" method="post">
      <input type="text" name="name" placeholder="User Name"><br><br>
      <input type="email" name="email" placeholder="Email"><br><br>
      <input type="password" name="password" placeholder="Password"><br><br>
      <input type="password" name="conpassword" placeholder="Confirm Password"><br><br>
      <button type="submit">Submit</button>
      <button type="submit"><a href="/log">log</a></button>
    </form>
  </body>
</html>
