<!DOCTYPE html>
<html>
  <head>
    <title>form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign Up Form</h1>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email"><br><br>
      <input type="password" name="password" placeholder="Password"><br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
